<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<TestRunParameters>
		<Parameter name="Authorization" value="00D8e000000RWWC!AQgAQNbnI5iJSXxL592L2SwTtQLDU_2G58ABat0ghKtEVbwOqKhxSxGDJCELyRvaRzE.97wy6jGgeTi.2YUNbn2FooEfKPYf" />
		<Parameter name="Url" value="https://ozatvn2-dev-ed.develop.my.salesforce.com" />
		<Parameter name="Username" value="gopad74116@onlcool.com" />
	</TestRunParameters>
</RunSettings>