<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<TestRunParameters>
		
		<Authorization>
			<Parameter name="Authorization" value="00D8e000000RWWC!AQgAQCBSTSHQDO2lEqOTeyWLAQB7mRIGmmRkt1bFhxIfXHzvISDJpoYojzORts5LL8yAPiF6zJJv0If5nP01xAqf0yZ0_pHn" />
			<Parameter name="Url" value="https://ozatvn2-dev-ed.develop.my.salesforce.com" />
			<Parameter name="Username" value="gopad74116@onlcool.com" />
			<Parameter name="Password" value="gerUHY456"/>
			<Parameter name="SecurityQuestion" value="gerwrht"/>
		</Authorization>
			
		<BrowserSettings>
			<Parameter name="WindowSizeWidth" value="1920"/>
			<Parameter name="WindowSizeHeight" value="1080"/>
			<Parameter name="Timeouts" value="5"/>
		</BrowserSettings>
		
	</TestRunParameters>
</RunSettings>